img {
  width: 100%;
}

form {
  width: 50%;
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.btn-primary {
  width: max-content;
  color: green;
  background-color: white;
  border: 2px solid green;
}

.form-control:focus {
  border-color: green;
  box-shadow: -1px 2px 14px -3px rgba(13,107,0,1);
}

.btn-primary:hover {
  color: white;
  background-color: green;
}

h2 {
  color: green;
}

a {
  color: green !important;
}

.ulc {
  display: flex;
  flex-direction: column;
  width: 99vw;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  border: 2px solid #ddd;
  width: 100%;
  padding: 1.5rem;
  height: 70vh;
}

.comments {
  overflow: scroll;
}

.post {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.cmnt {
  display: flex;
  padding: 1rem;
  border: 2px solid #ddd;
  justify-content: space-between;
}

.user, .time {
  margin: 0;
}

.user {
  font-weight: 900;
  font-size: 1rem;
}

.time {
  color: rgb(108, 105, 105);
  font-style: italic;
  font-size: .75rem;
}

.dltCmnt {
  align-self: center;
  height: max-content;
}

