img {
  width: 100%;
}

form {
  width: 50%;
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.btn-primary {
  width: max-content;
  color: green;
  background-color: white;
  border: 2px solid green;
}

.form-control:focus {
  border-color: green;
  box-shadow: -1px 2px 14px -3px rgba(13,107,0,1);
}

.btn-primary:hover {
  color: white;
  background-color: green;
}

h1 {
  text-align: center;
  color: green;
  margin-top: 7rem;
}

h2 {
  color: green;
}

a {
  color: green !important;
}

.ulc {
  display: flex;
  flex-direction: column;
  width: 99vw;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  border: 2px solid #ddd;
  width: 100%;
  padding: 1.5rem;
  height: 70vh;
}

.comments {
  overflow: scroll;
}

.post {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.cmnt {
  display: flex;
  padding: 1rem;
  border: 2px solid #ddd;
  justify-content: space-between;
}

.user, .time {
  margin: 0;
}

.user {
  font-weight: 900;
  font-size: 1rem;
}

.time {
  color: rgb(108, 105, 105);
  font-style: italic;
  font-size: .75rem;
}

.dltCmnt {
  align-self: center;
  height: max-content;
}

.postForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.postformContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
}

input, textarea, select {
  margin-bottom: 1rem;
}

.submitBtn {
  width: max-content;
}

.yes {
  color: green;
}

.yes, .no {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.no {
  text-align: center;
  color: red;
}

.editNdlt {
  display: flex;
  justify-content: center;
}

.topicItem {
  display: flex;
  border: 2px solid #ddd;
  margin-bottom: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.btns {
  display: flex;
  flex-direction: column;
}

.topicForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  width: 99vw;
  padding: 1rem;
}

header {
  flex-grow: 1;
}

.links {
  display: flex;
  gap: 1rem;
}

.home, .topics {
  align-self: center;
}

.home, .topics, .logOutBtn {
  color: green;
  padding: 0;
  margin: 0;
  border: none;
}

.homeActive, .topicsActive, .logOutActive {
  border-bottom: 2px solid green;
}

.home:hover, .topics:hover, .logOutBtn:hover {
  border-bottom: 2px solid green;
}

.bothErr {
  color: red;
}

